.view-competitions {
  width: 600px;
  margin: 30px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.view-competitions h2 {
  margin-bottom: 16px;
}

.view-competitions ul {
  list-style: none;
  padding: 0;
}

.view-competitions li {
  margin-bottom: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
